<div class="pt-4">
        <div class="row flex-nowrap cabecera" style="height: 50px;">
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 d-flex justify-content-end">
                                <img class="img-fluid logo-animado heg-1 " src="../../../assets/img/giphy-animated-logo.gif" alt="">
                                
                </div>
                <div class="col-xl-2 col-lg-2 col-md-d col-sm-4 d-flex justify-content-start img-piphy" style="height: 100%;">
                        <img class="img-fluid heg-1 " src="../../../assets/img/GIPHY.jpg" alt=""> 
                </div>
                <div class="col-xl-5 col-lg-4 col-md-3 col-sm-1 d-flex bg-rainbow justify-content-center">
                        <span class="boton-nav flex-fill">Reactions</span>
                        <span class="boton-nav flex-fill">Entertaiment</span>
                        <span class="boton-nav flex-fill">Sports</span>
                        <span class="boton-nav flex-fill">Stickers</span>
                        <span class="boton-nav flex-fill">Artists</span>
                        <span class="boton-nav flex-fill"><i class="fas fa-ellipsis-v "></i></span>
                </div>
                <div class="col-lg-2 col-lg-2 col-md-1 col-1 d-flex justify-content-center">
                        <span class=" botones-uc  flex-fill p-2"  href="">Upload</span>
                        <span class=" botones-uc  flex-fill p-2"  href="">Create</span> 
                </div>
                <div class="col-lg-2 contenedor-botones-login d-flex justify-content-center">
                        <i class="fas fa-user-alt boton-loging flex-fill "></i>
                        <span class="boton-loging flex-fill" href="#">Login</span>
                </div>
                
        </div>
        <br/>
        <div class="col d-flex barra-busqueda ">
                <input 
                type="text" 
                class="form-control rounded-0" 
                placeholder="Search all the Gifts"
                (keyup.enter)="buscar()"
                #txtBuscar
        >
        <button class="button rounded-0 boton-buscar " (click)="buscar()"><i class="text-white fa fa-search"></i></button>
        </div>
        
</div>

