<div class="mt-3">
        <div class="row flex-nowrap cabecera" style="height: 30px;">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2 d-flex justify-content-end ">
                                <img class="img-fluid logo-animado heg-1 " src="../../../assets/img/giphy-animated-logo.gif" alt="">
                                
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 d-flex justify-content-start img-piphy" style="height: 100%;">
                        <img class="img-fluid heg-1 " src="../../../assets/img/GIPHY.jpg" alt=""> 
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 d-flex bg-rainbow justify-content-center vhide">
                        <span class="boton-nav flex-fill fade" >Reactions</span>
                        <span class="boton-nav flex-fill fade" >Entertaiment</span>
                        <span class="boton-nav flex-fill fade" >Sports</span>
                        <span class="boton-nav flex-fill fade" >Stickers</span>
                        <span class="boton-nav flex-fill fade" >Artists</span>
                        <span class="boton-nav flex-fill boton-menu fade"><i class="fas fa-ellipsis-v "></i></span>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center vhide">
                        <span class=" botones-uc  flex-fill ml-1 pt-1"  href="">Upload</span>
                        <span class=" botones-uc  flex-fill ml-1 pt-1"  href="">Create</span> 
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 contenedor-botones-login d-flex justify-content-center vhide">
                        <i class="fas fa-user-alt boton-loging flex-fill pt-2 w-25"></i>
                        <span class="boton-loging flex-fill w-75 pt-1 " href="#">Login</span>
                </div>
                
        </div>
        <br/>
        <div class="col d-flex barra-busqueda ">
                <input 
                type="text" 
                class="form-control rounded-0" 
                placeholder="Search all the Gifts"
                (keyup.enter)="buscar()"
                #txtBuscar
        >
        <button class="button rounded-0 boton-buscar " (click)="buscar()"><i class="text-white fa fa-search"></i></button>
        </div>
        
</div>

